body {
    background-color: #bdc3c7;
}

h1 {
    color: #9b59b6;
}

h2 {
  color: orange;  
}

li {
    color: #5F9F9F;
}

p {
    background-color: yellow;
}

input {
    border: 3px red;
}

.hello {
    background: #fff;
}

#special {
    border: 2px solid rgb(rgb(82, 82, 215), rgb(49, 25, 151), rgb(48, 48, 83));
   
}


.container p {
    font-size: 25px;

}

#gray {
    background: gray;
}

.pink {
    background-color: pink;
}

.pink2 {
    border: 5px white;
    background-color: pink;
}

.container em {
    color: #fff;
    font-size: 20px;
}

input:checked {
    margin-left: 50px;
}

label {
    text-transform: uppercase;
}

#special span {
    text-transform: capitalize;
    color: green;
    font-size: 100px;
}

h1:hover {
    color: blue;
}

a:visited {
    color: gray;
}



